.dungeon-screen {
  background-color: black;
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 16px 0 16px 16px;
  overflow: hidden;
}

.sidebar {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  margin: 16px;
}