.dungeon-screen {
  background-color: black;
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 16px 0 16px 16px;
  overflow: hidden;
}

.main-content-footer {
  display: flex;
  flex-direction: row;
}
.expedition-panel.expedition-screen-log {
  margin-right: 4px;
}
.expedition-panel.expedition-screen-tile-description {
  margin-left: 4px;
}

.sidebar {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  margin: 16px;
}

.screen-menu.pause-menu {
  border: 2px solid silver;
  padding: 96px;
  width: 800px;
}

.expedition-panel {
  margin: 4px 0;
}

.modal-panel-objectives {
  height: 250px;
  width: 325px;
}