.dungeon-screen {
  background-color: black;
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 16px 0 16px 16px;
  overflow: hidden;
  position: relative;
}

.map-canvas, .map-canvas.active {
  background-color: black;
  border-width: 0;
}

.main-content-footer {
  background: black;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px
}
.expedition-panel.expedition-screen-tile-description {
  flex: 1;
}

.sidebar {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  margin: 8px;
}

.screen-menu.pause-menu {
  border: 2px solid silver;
  padding: 96px;
  width: 800px;
}

.expedition-panel {
  margin: 4px 0;
}

.modal-panel-objectives {
  height: 250px;
  width: 325px;
}