.list-panel-body {
  margin: 4px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  flex: 1 1;
}

/* content displayed when a list is empty */
.list-panel-body.list-panel-empty {
  padding: 4px 0 0 0;
}

/* styled content displayed in the footer (selected item description, etc.) */
.list-panel-footer {
  border-top: solid 1px #550;
  color: #abd;
  margin: 12px 0 0 0;
  padding: 4px 0 0 0;
}

.list-panel-row {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0
}
.list-panel-row.selectable {
  cursor: pointer;
}

.list-panel-row.selectable:before {
  content: '\00a0\00a0';
}

.list-panel-row.selectable.selected:before {
  content: '>\00a0';
}

.list-panel-row.selected, .list-panel-row.selectable:hover {
  color: #aa0;
}

.list-panel-left {
  flex: 1 1;
  justify-self: flex-start;
}

.list-panel-right {
  justify-self: flex-end;
}