.list-panel {
  margin: 4px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

/* child content displayed before the list */
.list-panel-summary {
  border-top: solid 1px #550;
  color: #abd;
  margin: 12px 0 0 0;
  padding: 4px 0 0 0;
}

.list-panel-title {
  background-color: #111;
  font-size: 1em;
  margin: 0 0 6px 0;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}

.list-panel-row {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0
}
.list-panel-row.selectable {
  cursor: pointer;
}

.list-panel-row.selectable:before {
  content: '\00a0\00a0';
}

.list-panel-row.selectable.selected:before {
  content: '>\00a0';
}

.list-panel-row.selected, .list-panel-row.selectable:hover {
  color: #aa0;
}

.list-panel-left {
  flex: 1 1;
  justify-self: flex-start;
}

.list-panel-right {
  justify-self: flex-end;
}