.modal {
  background-color: black;
  display: flex;
  left: 50%;
  /* margin-top: -96px; */
  max-height: 70%;
  max-width: 75%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}