.container {
  border: 1px solid #333;
  display: flex;
  align-content: stretch;
  flex: 0;
  margin: 8px 0;
}

.container.active {
  border-color: #999;
}

.content {
  flex: 1;
  font-family: VT323;
  font-size: 16px;
  line-height: 16px;
  margin: 8px;
  overflow: hidden;
}

.container.dynamic-height {
  flex: 1;
  min-height: 48px;
  overflow: hidden;
}

.container.dynamic-width {
  align-self: stretch;
}