.container {
  border: 1px solid #333;
  display: flex;
  align-content: stretch;
  flex: 0;
  padding: 1px;
  color: #aaa;
}
.container:focus { outline: none; }

.container.active {
  border-width: 2px;
  border-color: #330;
  padding: 0;
  color: #fff;
}

.container.dynamic-height {
  flex: 1;
  min-height: 48px;
  overflow: hidden;
}

.container.dynamic-width {
  align-self: stretch;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: VT323;
  font-size: 20px;
  line-height: 20px;
  margin: 8px;
  overflow: hidden;
}

.content p {
  margin: 0;
  padding: 0;
}