.popup-menu {
  background-color: black;
  border: 2px solid silver;
  left: 50%;
  max-width: 50%;
  padding: 96px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}