body {
  margin: 0;
  padding: 0;
  font-family: VT323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

@keyframes breathing {
  from {
    letter-spacing: 0;
  }
  to {
    letter-spacing: 0.75px;
  }
}

.animated-option:after { 
  content: ' <'; 
}
.animated-option:before { 
  content: '> '; 
}
.animated-option {
  animation-direction: alternate;
  animation-duration: 650ms;
  animation-timing-function: linear;
  animation-name: breathing;
  animation-iteration-count: infinite;
  color: red;
}

@keyframes fadeIn {
  0% {
      opacity: 0.0;       
  }
  100% {
      opacity: 1; 
  }       
}
.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeOut {
  0% {
      opacity: 1;       
  }
  100% {
      opacity: 0.0; 
  }       
}
.fade-out {
  animation-name: fadeOut;
  animation-duration: 10s;
}