body {
  margin: 0;
  padding: 0;
  font-family: VT323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

@keyframes breathing {
  from {
    letter-spacing: 0;
  }
  to {
    letter-spacing: 0.75px;
  }
}
.animated-option:after { 
  content: ' <'; 
}
.animated-option:before { 
  content: '> '; 
}
.animated-option {
  animation-direction: alternate;
  animation-duration: 650ms;
  animation-timing-function: linear;
  animation-name: breathing;
  animation-iteration-count: infinite;
  color: red;
}